<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.scmu_taotao.mapper.TBlacklistMapper">

    <resultMap id="BaseResultMap" type="com.bit.scmu_taotao.entity.TBlacklist">
            <id property="blackId" column="black_id" />
            <result property="userId" column="user_id" />
            <result property="blackUserId" column="black_user_id" />
            <result property="createTime" column="create_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        black_id,user_id,black_user_id,create_time,is_delete
    </sql>
</mapper>
