<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.scmu_taotao.mapper.TFavoriteMapper">

    <resultMap id="BaseResultMap" type="com.bit.scmu_taotao.entity.TFavorite">
            <id property="favoriteId" column="favorite_id" />
            <result property="userId" column="user_id" />
            <result property="goodsId" column="goods_id" />
            <result property="createTime" column="create_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        favorite_id,user_id,goods_id,create_time,is_delete
    </sql>

    <!-- 基础查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_favorite
        <where>
            <if test="ew != null and ew.sqlSegment != null and ew.sqlSegment != ''">
                ${ew.sqlSegment}
            </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.bit.scmu_taotao.entity.TFavorite">
        INSERT INTO t_favorite (
            <include refid="Base_Column_List"/>
        ) VALUES (
            #{favoriteId},
            #{userId},
            #{goodsId},
            #{createTime},
            #{isDelete}
        )
    </insert>

    <!-- 根据 ID 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM t_favorite WHERE favorite_id = #{favoriteId}
    </delete>
</mapper>
