<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.scmu_taotao.mapper.TGoodsMapper">

    <resultMap id="BaseResultMap" type="com.bit.scmu_taotao.entity.TGoods">
            <id property="goodsId" column="goods_id" />
            <result property="userId" column="user_id" />
            <result property="categoryId" column="category_id" />
            <result property="goodsType" column="goods_type" />
            <result property="goodsName" column="goods_name" />
            <result property="goodsNote" column="goods_note" />
            <result property="goodsDesc" column="goods_desc" />
            <result property="price" column="price" />
            <result property="useScene" column="use_scene" />
            <result property="exchangePlace" column="exchange_place" />
            <result property="goodsStatus" column="goods_status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        goods_id,user_id,category_id,goods_type,goods_name,goods_note,
        goods_desc,price,use_scene,exchange_place,goods_status,
        create_time,update_time,is_delete
    </sql>

    <!-- 基础查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_goods
        <where>
            <if test="ew != null and ew.sqlSegment != null and ew.sqlSegment != ''">
                ${ew.sqlSegment}
            </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.bit.scmu_taotao.entity.TGoods" useGeneratedKeys="true" keyProperty="goodsId">
        INSERT INTO t_goods (
            user_id, category_id, goods_type, goods_name, goods_note,
            goods_desc, price, use_scene, exchange_place, goods_status,
            create_time, update_time, is_delete
        ) VALUES (
            #{userId},
            #{categoryId},
            #{goodsType},
            #{goodsName},
            #{goodsNote},
            #{goodsDesc},
            #{price},
            #{useScene},
            #{exchangePlace},
            #{goodsStatus},
            #{createTime},
            #{updateTime},
            #{isDelete}
        )
    </insert>

    <!-- 根据 ID 查询 -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List"/>
        FROM t_goods
        WHERE goods_id = #{goodsId}
    </select>

    <!-- 根据 ID 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM t_goods WHERE goods_id = #{goodsId}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteBatchIds" parameterType="java.util.Collection">
        DELETE FROM t_goods WHERE goods_id IN
        <foreach collection="collection" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
